/*DIVS*/
div#myCarousel{
    max-width:400px;
    max-height:1500px;
    width: auto;
    height: auto;
    padding: 0px 100px 0px 0px;
    
}

div#carousel {
    position: absolute;
    padding-top: 0px !important;
    margin: -35px 0px 1px 30px !important;
    
}



/*IMAGENS*/
.item .active{
}
