/*DIVS*/




div#myCarousel{
    width: 60%;
    margin: auto;
    
}

/*INDICADORES*/

#indicators2 {
    position: absolute;
    bottom: 1px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
#indicators2 > li {
    display: inline-block;
    width: 7%;
    height: 4px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0); 
  
    border: 1px solid white ;
}
  
#indicators2 .active {
    width: 4,5%;
    height: 12px;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

/*IMAGENS*/

.item img{
    width: 100%;
}





/*BOTÕES*/

.left.carousel-control, .right.carousel-control{
    background-color:transparent;
}