@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url("/Fontes/Carton_Six.ttf");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@font-face {
    font-family: 'Carton Six Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Carton Six Regular'), url('../Fontes/Carton_Six.ttf') format('woff');
}

html {
    margin: auto;
}


div#interface {
    font-family: 'Maven Pro', sans-serif;
    display: block;
    background-color: white;
    margin: -10px 100px 0px 100px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    
}

/* Formatação cabeçalho */

#logo-cabecalho {
    width: 10%;
    margin: 20px 0px 20px 100px;
    position: relative;
    
}

#menu {
    background-color: #0669b2;
    margin-bottom: 1px;
}

div#fundo {
    margin-bottom: -300px;
}

#fundo-laranja {
    width: 100%;
    box-shadow: 3px 3px 5px black;
    background-image: url("../Imgs/3.png")no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px 0px 0px 0px;
}

#carefood {
    position: relative;
    left: 27%;
    bottom: 400px;
    
}

/* Formatação menu */
nav#menu {
    position: sticky;
    z-index: 1;
    width: 100%;
    /*transition: 1s;*/

    
}

nav#menu ul {
    margin-right: -100px;
    float: right;
    
}

nav#menu a:hover {
    color: rgb(0, 52, 98);
}

nav#menu .menu-div a:hover {
    text-decoration: none;
    color: rgb(0, 52, 98);
}

nav#menu .menu-div:hover {
    background-color: white;
    transition: 0.5s;
}

nav#menu li {
    font-family: 'Carton Six Regular';
    font-size: 20px;
    list-style: none;
    margin: 65px 10px 0px 0px;
    /*padding: 0px 0px 0px 0px;*/
    text-transform: uppercase;
    transition: color 2s; 
    border-radius: 5px;
    display: inline-block;
}

.menu-div {
    background-color: rgb(0, 52, 98);
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
}

nav#menu ul a {
    text-decoration: none;
    color: white;
}

/*Menu Fixo*/
.body2 {
    margin-top: 100px;
}

.menu-total {
    display: block;
    position: fixed !important;
    /*transition: 0.1s !important;*/
    background-color: rgb(2, 77, 143) !important;
    width: 100%;
    height: 50px;
    margin-top: -90px;
    z-index: 1 !important;
}

.logo2 {
    width: 3.5% !important;
    transition: 0s;
    position: relative;
    margin-left: 40% !important;
    padding: 4px 0px 0px 0px;
    margin-top: 0px !important;
}

.menu-ul2{
    padding-top: 0px;
    float: left !important;
    opacity: 0.2;
    transition: 1s !important;
}

.menu-ul2:hover {
    opacity: 1;
    transition: 1s !important;
}

.menu-li2 {
    display: block !important;
}

.menu-div2 {
    float: left !important;
    margin-top: 10px;
}

#up {
    
    float: right;
    transition: 5s !important;
    left: 92%;
    top: 75%;
}

.up2 {
    display: block;
    position: sticky !important;
    float: right;
    z-index: 105;
    left: 92%;
    top: 75%;
}

/* Formatação do rodapé */

footer {
    background-color: #0669b2;
    box-shadow: 3px -3px 5px black;
    clear: both;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

#logo-rodape {
    width: 10%;
    margin-left: 30px;
}



/*ul#icones {
    
}*/

footer li{
    color: #fffafa;
    font-size: 19px; 
    text-shadow: 1px 1px 5px black;
}   

footer ul#icones img.icon {
    width: 45px;
    height: 45px;
}

ul#icones li {
    padding: 3px;
    display: inline-block;
}

img#email {
    width: 27px; 
}

img#wpp{
    width: 27px; 
    padding-right: 2px;
    top: 10;

}

/* Formtação Texto */

div.textos p {
    font-size: 18px;
}

div.textos {
    width: 100%;
    text-align: justify;
}

div.textos a {
    text-decoration: none;
    color: black;
}

div.textos h2 {
    text-align: left;
    text-transform: uppercase;
    
}
.container2 > h2{
    text-align: center;
}

.hfrase{
    position: relative;
    float: right;
    width: 400px;
    color: white;
    text-transform: capitalize;

}

p#frase{
    top: 125px;
    left: 50px;
}

p#clar{
    width: 10%;
    top: 200px;
    left: 470px;

}

/* Foormatação Divisões */
section#corpo {
    background-color: #2d598a;
    margin: 0px 0px 0px 0px;
}

section#corpo div {
    padding-top: 35px;
}

section#corpo div.textos {
    color: white;

}

section#corpo div.textos p{
    font-family: 'Acme', sans-serif;
    font-size: 17px;
    
}

section#corpo div.textos img#doacoes-cor {
    width: 65%;
    height: 65%;
    margin: 0px 0px 0px 0px;
}

section#corpo div.textos img#fale-conosco-cor {
    width: 65%;
    height: 65%;
    margin: 0px 0px 0px 90px;
}


section#corpo div.textos img#locais-cor {
    width: 65%;
    height: 65%;
    margin: 0px 0px 0px 170px;
}

section#corpo div.textos div#quem-somos div#quemsomostexto img#quem-somos-cor {
    margin-top: 0px;
}

img#ods {
    width: 95.5%;
    height: 100%;
    margin: 0px 0px 0px 30px;
    border: 3px solid white;
    box-shadow: 3px 3px 5px black;

}

div#locais {
    box-shadow: 3px 3px 5px black;
    border: 3px solid white;
    background-image: url('../Imgs/moldur-locais.png');
    background-position-x: 4px;
    margin: 0px 30px 30px 30px;
    padding: 0% 30% 2% 30%;
    text-align: right;
    transition: width 2s, height 2s, transform 2s;
}

div#quem-somos {
    border: 3px solid white;
    background-image: url('../Imgs/quem somos/fundo.png');
    background-size: cover;
    background-position-y: 30%;
    background-position-x: -5px;
    padding: 0% 30% 0% 30%;
    margin: 0px 30px 0px 30px;
    box-shadow: 3px 3px 5px black;


}

div#doacoes {
    border: 3px solid white;
    background-image: url('../Imgs/fundo doacoes.png');
    background-position: 0.1px;
    background-position-x: -3px;
    padding: 10% 30% 30px 30%;
    margin: 0px 30px 0px 30px;
    position: relative;
    box-shadow: 3px 3px 5px black;
    text-align: left;
    
}

div#fale-conosco {
    box-shadow: 3px 3px 5px black;
    border: 3px solid white;
    background-image: url('../Imgs/fale conosco/fundo-de-muro.png');
    padding: 0% 30% 30px 30%;
    margin: 0px 30px 0px 30px;

}

img#mega-esq {
    margin-top: -35%;
    position: relative;
    float: left;
    right: 75%;
    top: 180px;
    display: inline-block;
}

img#mega-dir {
    margin-bottom: -35%;
    position: relative;
    left: 120%;
    display: inline-block;
    bottom: 210px;
}

div#quem-somos img.donos{
    width: 50%;
    height: 50%;    
}

div#quemsomostexto {
    margin-bottom: -100px;
    position: relative;
    top: -100px;
    left: 90px;

}

div#quem-somos img#victor {
    width: 56%;
    height: 56%;
    position: relative;
    float: left;
    right: 414px;
    top: 358px;
    margin-top: -350px;
}

div#quem-somos img#gustavo {
    width: 50%;
    height: 50%;
    position: relative;
    float: left;
    right: 195px;
    top: 285px;
    margin-top: -300px;
}

div#quem-somos img#lucas {
    width: 63%;
    height: 63%;
    position: relative;
    left: 126%;
    margin-top: -160%;
    margin-bottom: -400px;
}