
/* Form */

form {
    position: relative;
    top: 200px;
    margin-bottom: 300px;
    margin-right: 0px;

}

legend {
    font-size: 30px;
    text-align: center;   
}

fieldset {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border: 1px solid black;
    width: 20%;
    left: 36%;
    margin: 0px;
    position: relative;
    
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;

}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

button {
    font-size: 1.5em;
    background: #676eb0;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-left: 130px;
    margin-bottom: 5px;
}

button:hover {
    background: #325d9d;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

button, select, label.checkbox {
    cursor: pointer;
}

/* Body */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url("/Fontes/Carton_Six.ttf");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@font-face {
    font-family: 'Carton Six Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Carton Six Regular'), url('../Fontes/Carton_Six.ttf') format('woff');
}

html {
    margin: -9px;
    width: 100%;
    height: 100%;
}


div#interface {
    font-family: 'Maven Pro', sans-serif;
    display: block;
 

    
}

/* Formatação cabeçalho */

#logo-cabecalho {
    width: 10%;
    margin: 20px 0px 20px 100px;
    position: relative;
    transition: 1s !important;
}

#menu {
    background-color: #0669b2;
    margin-bottom: 0px;
    box-shadow: 3px 3px 5px black;
    
}

/* Formatação menu */
nav#menu {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-bottom: -40%;
    margin-top: -5px;

}

nav#menu ul {
    margin: 0px 10px 0px 0px;
    float: right;
    transition: 1s !important;
}

nav#menu a:hover {
    color: rgb(0, 52, 98);
}

nav#menu .menu-div a:hover {
    text-decoration: none;
    color: rgb(0, 52, 98);
}

nav#menu .menu-div:hover {
    background-color: white;
    transition: 0.5s;
}

nav#menu li {
    font-family: 'Carton Six Regular';
    font-size: 20px;
    list-style: none;
    margin: 60px 10px 0px 0px;
    padding: 0px 0px 0px 0px !important;
    text-transform: uppercase;
    transition: color 2s; 
    border-radius: 5px;
    display: inline-block;
    transition: 1s !important;
}

.menu-div {
    background-color: rgb(0, 52, 98);
    padding: 7.5px 25px 7.5px 25px;
    border-radius: 5px;
}

nav#menu ul a {
    text-decoration: none;
    color: white;
}

/*Menu Fixo*/

.menu-total {
    
    
}

.menu-ul2 {
    padding: 0px 0px 0px 0px !important;
    transition: 1s !important;
}

.menu-li2 {
    margin: 35px 10px 0px 0px !important;
    transition: 1s !important;
}

.logo2 {
    width: 5% !important;
    transition: 1s;
}


/* Formatação do rodapé */

footer {
    background-color: #0669b2;
    box-shadow: 3px -3px 5px black;
    clear: both;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    margin-right: -17px;
}

#logo-rodape {
    width: 10%;
    margin-left: 30px;
}



/*ul#icones {
    
}*/

footer li{
    color: #fffafa;
    font-size: 19px; 
    text-shadow: 1px 1px 5px black;
}   

footer ul#icones img.icon {
    width: 45px;
    height: 45px;
}

ul#icones li {
    padding: 3px;
    display: inline-block;
}

img#email {
    width: 27px; 
}

img#wpp{
    width: 27px; 
    padding-right: 2px;

}















