nav#teste {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 30px;
    font-family: monospace;
    background: #2E69C9;
    transition: .3s;
}

/* A classe small é adicionada a barra de navegação, diminuindo o padding e o font-size geral dela. Mas você pode adicionar qualquer estilo que quiser. */
.small {
    padding: 5px;
    font-size: 80%;
    background-color: lawngreen;
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 60px;
}

a {
    text-decoration: none;
}

nav > a {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #15335E;
}

ul {
    float: right;
}

li {
    display: inline-block;
}

li > a {
    color: white;
    font-size: 1.4em;
    padding: 5px 20px;
    display: block;
    text-transform: uppercase;
}

section {
    max-width: 500px;
    margin: 60px auto;
}

section h1 {
    color: #E90F40;
    font-size: 4em;
    margin-bottom: 20px;
}

section p {
    font-family: monospace;
    font-size: 1.4em;
    line-height: 1.5;
}